<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
</head>
<body>
    <form method="GET" action="/auth/google">
        <button type="submit">
            <img src="../images/web_light_rd_SI@2x.png" alt="구글 로그인 테스트">
        </button>
    </form>
    <br>
    <form method="POST" action="/destinations" enctype="multipart/form-data">
        <input type="text" placeholder='국가' name="country_name" required> <br>
        <input type="text" placeholder='지역' name="region_name" required> <br>
        <input type="text" placeholder='주소' name="address" required> <br>
        <input type="text" placeholder='설명' name="description" required> <br>
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">여행지 업로드</button>
    </form>
</body>
</html>